@import url(/css/global.css);
.desktop-menu{
    width: 100px;
    height: auto;
    border: 1px solid var(--very-light-pink);
    border-radius: 6px;
    padding: 20px;
}
.desktop-menu ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.desktop-menu ul li{
    width: 100%;
    height: auto;
    padding: 10px 0;
}
.desktop-menu ul li:nth-child(1),
.desktop-menu ul li:nth-child(2){
    font-weight: bold;
}
.desktop-menu ul li a{
    width: 100%;
    height: auto;
    display: block;
    text-decoration: none;
    text-align: end;
    color: var(--black);
}
.desktop-menu ul li:last-child{
    padding-top:20px;
    border-top:1px solid var(--very-light-pink);
}
.desktop-menu ul li:last-child a{
    color: var(--hospital-green);
    font-size: var(--sm);
}
